<h1 class="title">Todo Board</h1>

<div class="task-input">
  <section
    class="input-area"   > 
    <input
    type="text"
    [(ngModel)]="newTitle"
    placeholder="What needs to be done?"
    (keyup.enter)="add()"
    />
    
    <button (click)="add()">Add</button>
  </section>
</div>

  <!-- TRASH -->
 <div class="trash-placeholder" >
  <!-- Drag tasks here to delete them. -->
  <aside
  class="trash"
  cdkDropList
  #trashList="cdkDropList"
  [cdkDropListData]="trashData"
  [cdkDropListEnterPredicate]="canDropToTrash"
   (cdkDropListDropped)="trashDropped($event)"
   >
   <div class="trash__icon">🗑️</div>
   <div class="trash__label">Trash</div>
 </aside>
 </div>
<div class="columns">
  <!-- TODO -->
  <section
    class="column todo"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todoTasks"
    [cdkDropListConnectedTo]="[inProgressList, doneList, trashList, editList]"
    (cdkDropListDropped)="drop($event, 'TODO')"
  >
    <h3>TODO</h3>

    <div class="task" *ngFor="let task of todoTasks; trackBy: trackById" cdkDrag [cdkDragData]="task">
      <div class="title">{{ task.title }}</div>
      <div class="desc">{{ task.description }}</div>
    </div>
  </section>

  <!-- IN_PROGRESS -->
  <section
    class="column in-progress"
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="inProgressTasks"
    [cdkDropListConnectedTo]="[todoList, doneList, trashList, editList]"
    (cdkDropListDropped)="drop($event, 'IN_PROGRESS')"
  >
    <h3>IN PROGRESS</h3>

    <div class="task" *ngFor="let task of inProgressTasks; trackBy: trackById" cdkDrag [cdkDragData]="task">
      <div class="title">{{ task.title }}</div>
      <div class="desc">{{ task.description }}</div>
    </div>
  </section>

  <!-- DONE -->
  <section
    class="column done"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="doneTasks"
    [cdkDropListConnectedTo]="[todoList, inProgressList, trashList, editList]"
    (cdkDropListDropped)="drop($event, 'DONE')"
  >
    <h3>DONE</h3>

    <div class="task" *ngFor="let task of doneTasks; trackBy: trackById" cdkDrag [cdkDragData]="task">
      <div class="title">{{ task.title }}</div>
      <div class="desc">{{ task.description }}</div>
    </div>
  </section>

  
</div>

<section 
  class="edit-area"
  cdkDropList
  id="editArea"
  #editList="cdkDropList"
  [cdkDropListData]="editTasks"
  [cdkDropListConnectedTo]="[todoList, inProgressList, doneList, trashList]"
  (cdkDropListDropped)="dropToEditArea($event)"
  >
    <h3>Edit Area</h3>
    <div *ngIf="editTasks.length === 0" class="edit-placeholder">
    Drag a task here.
  </div>

 <div *ngFor="let task of editTasks" class="task editable-task" cdkDrag>
  <div
    class="title editable-title"
    contenteditable="true"
    (blur)="saveEditTaskTitle(task, $event)"
    (keydown.enter)="finishEdit($event, task)"
    (mousedown)="$event.stopPropagation()"
  >{{ task.title }}</div>
</div>
</section>